.datepicker-picker {
    background-color: var(--bs-gray-900) !important;
}
.datepicker-controls{
    .button{
        background-color: var(--bs-gray-900) !important;
        color: var(--bs-heading-color) !important;
    } 
} 
